<ion-header>
	<ion-toolbar>
		<ion-title>
			Scanner
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-button expand="full" (click)="Scan()">SCAN</ion-button>
	<ion-item>
		<ion-label position="floating">ISBN</ion-label>
		<ion-input [(ngModel)]="isbn" type="tel"></ion-input>
	</ion-item>
	<ion-button expand="full" (click)="Cerca()">Search</ion-button>
	<p color="danger">{{ output }}</p>
	<ion-select *ngIf="results.length>0" (ionChange)="ChangeBook()" [(ngModel)]="selectedBook" placeholder="Pick the right book">
		<ion-select-option *ngFor="let bk of results; let i=index" [value]="i">{{ bk.title }} - {{ bk.authors }}</ion-select-option>
	</ion-select>
	<ion-list>
		<ion-item>
			<ion-label position="floating">ISBN</ion-label>
  			<ion-input [(ngModel)]="book.isbn" type="text" [disabled]="disable"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Title</ion-label>
  			<ion-input [(ngModel)]="book.title" type="text" [disabled]="disable"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Authors</ion-label>
  			<ion-input [(ngModel)]="book.authors" type="text" [disabled]="disable"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Publisher</ion-label>
  			<ion-input [(ngModel)]="book.publisher" type="text" [disabled]="disable"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Published date</ion-label>
  			<ion-input [(ngModel)]="book.publishedDate" type="text" [disabled]="disable"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Language</ion-label>
  			<ion-input [(ngModel)]="book.language" type="text" [disabled]="disable"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>Posizione nell'armadio/scaffale</ion-label>
  			<ion-select [(ngModel)]="posizione.armadio" cancelText="Cancel" okText="OK">
				<ion-select-option value="A">A</ion-select-option>
				<ion-select-option value="B">B</ion-select-option>
				<ion-select-option value="C">C</ion-select-option>
				<ion-select-option value="D">D</ion-select-option>
				<ion-select-option value="E">E</ion-select-option>
			</ion-select>
			<ion-select [(ngModel)]="posizione.scaffale" cancelText="Cancel" okText="OK">
				<ion-select-option value="1">1</ion-select-option>
				<ion-select-option value="2">2</ion-select-option>
				<ion-select-option value="3">3</ion-select-option>
				<ion-select-option value="4">4</ion-select-option>
				<ion-select-option value="5">5</ion-select-option>
				<ion-select-option value="6">6</ion-select-option>
				<ion-select-option value="7">7</ion-select-option>
				<ion-select-option value="8">8</ion-select-option>
			</ion-select>
			<ion-select [(ngModel)]="posizione.lato" cancelText="Cancel" okText="OK">
				<ion-select-option value="SX">Sinistro</ion-select-option>
				<ion-select-option value="DX">Destro</ion-select-option>
			</ion-select>
		</ion-item>
	</ion-list>
	<ion-button expand="full" (click)="AddToList()">ADD BOOK TO LIBRARY</ion-button>
</ion-content>
